{
  "presets": [
    "es2015"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  },
  "sourceMaps": "both",
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    "transform-decorators-legacy",
    "transform-builtin-extend",
    "transform-class-properties",
    "transform-flow-strip-types",
    "transform-strict-mode",
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Error",
          "Array"
        ]
      }
    ]
  ]
}
